hetzner:
  token: 'some_token'
  server_name: 'hetzner_server_name'

cloudflare:
  token: 'some_token'
  zone_name: 'domain_name'
  dns_name_proxied: 'subdomain_name'
  dns_name_not_proxied: 'subdomain_name2'

webapp:
  username: 'user'
  password: 'hashed_password'
